@tailwind components;

@layer components {
  .gjs-block {
    @apply btn btn-xs sm:btn-sm md:btn-md lg:btn-lg;
  }
  .panel__top {
    @apply navbar flex justify-between rounded-t-lg bg-black;
  }
  .panel__basic-actions {
    @apply bg-black;
  }
  .editor-canvas {
    @apply rounded-lg;
  }
  .panel__right {
    @apply bg-black;
  }
  .panel__switcher {
    @apply bg-black;
  }
  .panel__basic-actions > .gjs-pn-buttons {
    @apply flex-col;
  }
  .panel__devices {
    @apply bg-black;
  }
  .sidebar-icon {
    @apply btn btn-ghost z-50 m-1 rounded-3xl transition-all duration-200 ease-linear shadow-md shadow-black hover:rounded-xl hover:bg-green-600;
  }
  .sidebar-tooltip {
    @apply absolute left-14 m-2 w-auto min-w-max origin-left scale-0 rounded-md bg-gray-900 p-2 text-xs font-bold text-white shadow-md transition-all duration-100;
  }
  .topbar-tooltip {
    @apply absolute top-14 m-2 w-auto min-w-max origin-top scale-0 rounded-md bg-gray-900 p-2 text-xs font-bold text-white shadow-md transition-all duration-100;
  }
  .topbar-tooltip__left {
    @apply absolute right-14 m-2 w-auto min-w-max origin-right scale-0 rounded-md bg-gray-900 p-2 text-xs font-bold text-white shadow-md transition-all duration-100;
  }
  .gjs-one-bg {
    @apply bg-zinc-900;
  }
}

/* Let's highlight canvas boundaries */
#gjs {
  /* border: 3px solid #444; */
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Reset block styling */
.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
  font-size: 0.3rem;
}

.gjs-one-bg {
  background: transparent;
}

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}

.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  position: relative;
}

.panel__switcher {
  position: initial;
}

.panel__devices {
  position: initial;
}

/* Vegeta Save Storage Button  */
.btn-save-database {
  font-size: 24px !important;
}

/* Scrollbar Styling */
* ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

* ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

* ::-webkit-scrollbar {
  width: 10px;
}

#root > div {
  overflow: hidden;
}
