.font-bold{
	font-weight: 700;
}

.uppercase{
	text-transform: uppercase;
}

.profile-pic {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.custom-profile-pic{
background-image: url(../GalleryContent/orb-unsplash-sm.jpg);
background-size: 457%;
background-position: center;
}

.btn-profile {
    font-size: 15px;
    width: 170px;
    margin: 0 10px;
    padding: 15px 0;
    display: inline;
}

.btn-build {
    font-size: 15px;
    width: 170px;
    margin: 0 10px;
    padding: 15px;
    display: inline;
}

.btn-friends {
    height: 5rem;
    width: 5rem;
    border-radius: 9999px;
    padding: 0px;
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: var(--rounded-btn, 0.5rem);
    height: 3.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1em;
    min-height: 3rem;
    text-decoration-line: none;
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
}

/* DROPDOWN MENU */
.friends-list {
    transition: all 2s;
    -webkit-transition: all 2s;
    color: white;
}

.friends-list:hover {
    text-decoration: underline;
    transition: all 2s;
}


