.font-bold{
	font-weight: 700;
}

.uppercase{
	text-transform: uppercase;
}

.profile-pic {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-profile {
    font-size: 12px;
    width: 32%;
    margin: 0 10px;
    padding: 12px;
    display: inline;
}
