@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

.background-image-sign {
    /* background-image: url(./adrien-olichon-ilVYjf0J378-unsplash.jpg); */
    position: absolute;
    width: 100%;
    height: 85vh;
    background-size: none;
    background-position: center;
    display: flex;
    z-index: 0;
}

.signup-container {
    font-family: "Libre Franklin", sans-serif;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 30%;
}

.card-body-sign {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-sign {
    background-image: url(./erik-skof-1MG7FHKp3TU-unsplash.jpg);
    background-position: right top;
    background-size: cover;
    width: 100%;
    font-family: "Libre Franklin", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 40px 15px;
}

.greeting {
    font-size: 20px;
    padding-bottom: 20px;
}

.end {
    font-size: 12px;
    padding-top: 20px;
}

.form-input {
    color: black;
    width: 70%;
    border-radius: 0.5rem;
    padding: 8px 20px;
    align-items: center;
    margin-bottom: 20px;
}

.btn-sign {
    width: 40%;
    font-weight: bold;
}

.btn-sign:hover {
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.7s ease-in-out;
    padding: 8px;
    color: #214a51;
    background-image: linear-gradient(to right, rgb(110 231 183) , rgb(125 211 252));
    opacity: 0.5;
}
 
.btn-sign:not(:hover) {
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.7s ease-in-out;
    padding: 8px;
    color: rgb(110 231 183);
    background-color: black;
}

/* .btn-sign:hover {
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.7s ease-in-out;
    padding: 8px;
    color: rgb(110 231 183);
    background-color: black;
    opacity: 0.5;
}
 
.btn-sign:not(:hover) {
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.7s ease-in-out;
    padding: 8px;
    color: #214a51;
    background-image: linear-gradient(to right, rgb(110 231 183) , rgb(125 211 252));
}
*/

/* .gradient-text {
    background-image: linear-gradient(to right, rgb(110 231 183) , rgb(125 211 252));
    background-clip: text;
    color: transparent;
} */