@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

.background-image-sign {
    background-image: url(./adrien-olichon-ilVYjf0J378-unsplash.jpg);
    position: absolute;
    width: 100%;
    height: 85vh;
    background-size: none;
    background-position: center;
    display: flex;
    z-index: 0;
}

.signup-container {
    font-family: "Libre Franklin", sans-serif;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 30%;
}

.card-body-sign {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-sign {
    width: 100%;
    font-family: "Libre Franklin", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 40px 15px;
}

.form-input {
    width: 75%;
    border-radius: 0.5rem;
    padding: 0.75rem;
    align-items: center;
    margin-bottom: 20px;
}

.btn-sign {
    width: 30%;

}

.btn-sign:hover {
    color: #191D24;
    background-image: black;
    transition: all 0.6s ease-in-out;
    opacity: 0.5;
}
 
.btn-sign:not(:hover) {
    font-weight: bold;
    color: #214a51 ;
    background-color: #191D24;
    transition: all 0.7s ease-in-out;
}

.gradient-text {
    background-image: linear-gradient(to right, rgb(110 231 183) , rgb(125 211 252));
    background-clip: text;
    color: transparent;
}