@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Poppins:wght@100;200;300;400&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
  .bg-black {
    @apply bg-zinc-900
  }
  .btn-main {
    @apply text-sky-300 bg-zinc-900 btn-ghost hover:text-zinc-900 hover:bg-gradient-to-r hover:from-emerald-300 hover:to-sky-300 hover:btn-ghost hover:transition-colors hover:ease-in hover:duration-1000 transition-colors ease-in duration-1000
  }
  .text-color {
    @apply text-zinc-500
  }
}

/* @apply btn btn-ghost z-50 m-1 rounded-3xl transition-all duration-300 ease-linear shadow-md shadow-black hover:rounded-xl hover:bg-green-600; */

body,
html {
  height: 100%;
  margin: 0;
}

footer {
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

.montserrat-text {
  font-family: "Montserrat", sans-serif;
}