.bg-profile-background{
	background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.6)), url('../../pages/Signup/erik-skof-1MG7FHKp3TU-unsplash.jpg');
}

.bg-cover{
	background-size: cover;
}

.bg-center{
	background-position: center;
}