@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

.landing-page {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
}

.welcome-text-left {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 570px;
  z-index: 11;
  margin-top: 40px;
}

.welcome-text-right {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 570px;
  z-index: 11;
  align-items: center;
}

.landing-subheader {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

.landing-header {
  font-family: "Libre Franklin", sans-serif;
  font-size: 3rem;
  line-height: 1.1em;
  padding-bottom: 18px;
  text-align: center;
}

.welcome-btn {
  margin-top: 40px;
  width: 170px;
}

.background-image {
  background-image: url(./orb-unsplash-sm.jpg);
  position: absolute;
  width: 100%;
  height: 85vh;
  background-size: none;
  background-position: center;
  display: flex;
}

.spacer-border {
  min-width: 570px;
  height: 330px;
}

.moon-border {
  margin: auto;
  width: 570px;
  height: 330px;
  border: 1px solid white;
}

.scrolling-image {
  background-image: url(./moon-shot4.png);
  margin: auto;
  width: 100.2%;
  height: 100.2%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 11;
  animation: site-scroll infinite 14s;
  animation-delay: 2s;
  opacity: 0;
  /* border: 8px solid white; */
}

@keyframes site-scroll {
  0% {
    opacity: 0.2;
  }

  5% {
    opacity: 0.5;
  }

  10% {
    opacity: 1;

    background-position: top;
  }

  20% {
    opacity: 1;
    background-position: top;
  }

  60% {
    opacity: 1;
    background-image: url(./moon-shot4.png);
    background-position: bottom;
  }

  70% {
    opacity: 1;
    background-image: url(./moon-shot4.png);
    background-position: top;
  }

  100% {
    opacity: 1;
    background-image: url(./moon-shot4.png);
    background-position: top;
  }
}
