@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Poppins:wght@100;200;300;400&display=swap");

.dropdown-img {
    background-image: url(./pngegg.png);
    background-size: none;
    background-position: center;
    background-size: cover;
}

.app-text {
    font-family: "Montserrat", sans-serif;
}